*{
    margin: 0;
}

.star-wars-opening{
    position: relative;
    background-color: black;
    width: 100vw;
    height: 100vh;
    font-family: "Droid";
}

.opening-intro{
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    color: #4ee;
    font-size: 3.4vw;
    font-weight: 400;
    text-align: left;

    opacity: 0;
    animation-name: intro;
    animation-duration: 5s;
    animation-timing-function: ease-out;
}


@keyframes intro{
    0%{
        opacity: 0;
    }

    20%{
        opacity: 1;
    }

    80%{
        opacity: 1;
    }

    100%{
        opacity: 0;
    }
}

.opening-stars{

    position: absolute;
    
    
    background-image: url(img/stars-bg.png);
    background-repeat: repeat;
    width: 100%;
    height: 100%;

    opacity: 0;

    animation-name: stars;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-delay: 6s;
    animation-fill-mode: forwards;

    perspective: 25vh;
}

@keyframes stars {
    0%{
        opacity: 1;
    }

    100%{
        opacity: 1;
    }
}

.opening-logo{
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
    width: 175%;

    animation: logo 8s ease-out 6s forwards;
}

@keyframes logo {

    0%{
        width: 175%;
        opacity: 1;
    }
    90%{
        opacity: 1;
    }
    100%{
        width: 0%;
        opacity: 0;
    }
}


.opening-crawl{
    position: absolute;
    font-size: 4.5vw;
    font-weight: 700;
    text-align: justify;
    color: #ebd71c;
    animation: crawl 20s linear 16s forwards;
    top: 120vh;
    transform: rotateX(20deg);
    opacity: 1;
}


.crawl-header{
    text-align: center;
    margin-bottom: 80px;
}

.crawl-title{
    text-transform: uppercase;
    margin-bottom: 40px;
}

.crawl-text > p{
    margin: 30px 0;
}

@keyframes crawl {
    0%{
        top: 150vh;
        transform: rotateX(20deg) translateZ(50vh);
    }

    95%{
        opacity: 1;
    }

    100%{
        top: -300vh;
        transform: rotateX(20deg) translateZ(-100vh);
        opacity: 0;
    
    }
}
